<style>
  body.body-class {
   background-color: #00ffff;
  }
  header.header-class{
   background-color: #7fffd4;
   color: white;
  }
  nav.nav-class a.nav-link-class:hover{
   background-color: #8a2be2;
   color:red;
  }
  section.hero-section-class {
   background-color: #00008b;
   color: #9932cc;
  }
  .section-title-class{
   color: #cd5c5c;
    }
  .hero-section-class img.image-class {
   border: 10px soild #e9967a;
   border-radius: 8px;
   max-width: 100%;
   heigth: auto;
   display: block;
   margin: 20px auto;
  }
  .title-class{
   color: #ff69b4;
  }
  .text-class{
   color: #ff00ff;
  }
  
.form-class {
  background-color: #f9f9f9; 
}


.input-class {
  background-color: #fff; 
  color: #333;
}

.input-class:focus {
  border-color: #5cb85c;
  outline: none; 
}

.button-class {
  background-color: #5cb85c;
  color: #fff; 
}
.button-class:hover {
  background-color: #4cae4c; 
}
  .footer.class {
   background-color: #333;
   color:#faf0e6;
  }
  .footer-class .text-class{
   color: #800000;
  }
 </style>
